FileTemplate:
  # root dir for new files
  rootDir: '%appDir%' # [OPTIONAL], %appDir% is default

  # list of file templates groups
  commands:
    helper_test: # group name
      variables: ['CLASS']
      templates:
        FILE: '%appDir%/templates/helper.txt'
      defaults: # [OPTIONAL] default values for variables
        FILE: Helper.php
        PROPERTY: '${CLASS}'
        FILTER: '${CLASS|firstUpper}'
        DOUBLE_FILTER: '${CLASS|lower|firstUpper}'

